* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Raleway', sans-serif;
    max-width: 1626px;
}

.header {
    box-shadow: 0 3px 6px #00000029;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.container {
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #08A6E4;
    font-family: Raleway, serif;
    font-weight: lighter;
    font-size: 32px;
    padding-top: 16px;
    padding-left: 100px;
}

ul {
    display: flex;
    margin-top: 24px;
    margin-right: 70px;
}

li a {
    color: #A5A5A5;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11px;
    font-weight: bold;
    font-family: "Open Sans", serif;
    margin-left: 30px;
    margin-right: 30px;
}

li a:hover {
    color: #000000;
    padding-bottom: 26px;
    border-bottom: 4px solid #08A6E4;
    opacity: 1;
}

main {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
}

.banner__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

h1 {
    color: black;
    margin-bottom: 30px;
    font-size: 49px;
    font-family: Raleway, serif;
    font-weight: normal;
}

.banner__text p {
    color: black;
    font-family: "Open Sans", serif;
    font-size: 16px;
    margin-bottom: 45px;
}

.btn {
    width: 440px;
    height: 67px;
    background: #08A6E4 0 0 no-repeat padding-box;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: 0;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.banner img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.section__title {
    margin-bottom: 100px;
    color: black;
    font-weight: normal;
    font-family: Raleway, serif;
    font-size: 36px;
}

.icons {
    display: flex;
    justify-content: space-around;
    width: 850px;
}

.icons__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
}

.person {
    position: absolute;
    padding-top: 5px;
    padding-left: 30px;
}

.eye {
    position: absolute;
    padding-top: 14px;
    padding-left: 22px;
}

.catalog {
    position: absolute;
    padding-top: 5px;
    padding-left: 30px;
}

.circle__person,
.circle__eye,
.circle__catalog {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.circle__person {
    background: #FB3B64;
}

.circle__eye {
    background: #08A6E4;
}

.circle__catalog {
    background: #55DFB4;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Raleway, serif;
    font-size: 20px;
    font-weight: 800;
    color: black;
}

.text {
    color: #A5A5A5;
    font-size: 17px;
    font-weight: normal;
    font-family: Raleway, serif;
    max-width: 100px;
    text-align: center;
    margin-bottom: 45px;
}

.boxy {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    margin-top: 5%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.box1__text {
    margin: 91px 0 91px 35px;
}

h4 {
    color: black;
    font-family: Raleway, serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.boxy p {
    margin-bottom: 95px;
    font-size: 16px;
    font-family: "Open Sans", serif;
    color: black;
    z-index: 0;
}

.box3__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:  center;
}

.box1__border {
    width: 80%;
    height: 0;
    border: 4px solid #FB3B64;
}

.box2__border {
    width: 80%;
    height: 0;
    border: 4px solid #08A6E4;
}

.box3__border {
    width: 80%;
    height: 0;
    border: 4px solid #55DFB4;
}

.box1__macbook {
    display: flex;
    justify-items: center;
    align-items: center;
}

.macbook {
    position: relative;
    margin-top: 10%;
    margin-left: 25%;
    z-index: 1;
    margin-right: -30%;
}

.matrix {
    width: 180px;
    height: 180px;
    background: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    z-index: 0;
    margin-top: -15%;
}

.box2 {
    width: 65%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.box2__iPhone {
    padding-right: 170px;
}

.box2__text {
    margin: 69px 20px 71px 0;
}

.box2__text h4 {
    padding-right: 50px;
}

.iPhone {
    z-index: 1;
    position: absolute;
}

.box2__iPhone {
    display: flex;
    margin-left: 5%;
}

.box2__iPhone__circle {
    width: 320px;
    height: 320px;
    background: #07ACE6;
    border-radius: 100%;
    z-index: 0;
    position: relative;
}

.box3 {
    width: 65%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box3__container__text {
    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 70px 30px 70px 30px;
}

.box3__container__text h4 {
    padding-right: 30px;
}

.box3__image {
    background: #55DFB4;
    width: 100%;
    height: 370px;
    margin-left: 5%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.pricing {
    margin-top: 100px;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.pricing__boxy {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.pricing__box__basic,
.pricing__box__professional,
.pricing__box__premium {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__box__basic {
    border: 1px solid #FB3B64;
    border-radius: 18px;
    width: 20em;
    height: 30em;
}

.pricing__box__professional {
    border: 1px solid #07ACE6;
    border-radius: 18px;
    width: 23em;
    height: 33em;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__box__premium {
    border: 1px solid #55DFB4;
    border-radius: 18px;
    width: 20em;
    height: 30em;
}

.pricing__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 4em;
}

.price__title {
    font-family: Raleway, serif;
    font-size: 20px;
    color: #13253B;
    padding-top: 5px;
}

.price__title__pro {
    font-family: Raleway, serif;
    font-size: 21px;
    color: #13253B;
    padding-top: 5px;
}

.price1 {
    color: #FB3B64;
    padding-top: 15px;
    font-size: 46px;
    font-family: "Open Sans", serif;
    font-weight: 300;
    padding-bottom: 60px;
}

.price2 {
    color: #07ACE6;
    padding-top: 15px;
    font-size: 46px;
    font-family: "Open Sans", serif;
    font-weight: 300;
    padding-bottom: 20px;
}

.price3 {
    color: #55DFB4;
    padding-top: 15px;
    font-size: 46px;
    font-family: "Open Sans", serif;
    font-weight: 300;
}

.limited__ofert {
    padding-top: 10px;
    font-size: 12px;
    color: #13253B;
    font-family: Raleway, serif;
    font-weight: bold;
    padding-bottom: 40px;
}

.ptaszek,
.krzyzyk {
    padding-top: 25px;
}

span {
    color: #55DFB4;
}

.red {
    color: #EB476E;
}

.begin {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    border: 0;
    color: white;
}

.pricing__box__basic button {
    background: #EB476E;
    top: 80px;
}

.pricing__box__professional button {
    background: #07ACE6;
    box-shadow: 5px 10px 14px #07ACE629;
    top: 105px;
}

.pricing__box__premium button {
    background: #55DFB4;
    top: 75px;
}

.end {
    display: flex;
    align-self: center;
    align-items: center;
    width: 60%;
}

.questions {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.questions p {
    font-size: 16px;
    font-family: "Open Sans", serif;
    margin-bottom: 40px;
}

.contact {
    display: flex;
    align-items: start;
}

.phone {
    width: 27px;
    height: 27px;
}

.mail {
    width: 27px;
    height: 27px;
}

.contact p {
    margin: 5px 30px 0 5px;
    color: #A5A5A5;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 25%;

}

.label {
    display: flex;
    flex-direction: column;
}

.label span {
    color: #08A6E4;
    font-size: 11px;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.label input {
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #95989A;
}

.regulamin {
    display: flex;
    position: relative;
    margin-top: 30px;
}

.checkbox {
    display: none;
}

.regulamin input + label {
    position: relative;
    margin-right: 10%;
    cursor: pointer;
}

.regulamin input + label::before {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.regulamin input:checked + label:before {
    background-image: url("../images/Checkmark.png");
    background-position: center;
    background-repeat: no-repeat;
}

.regulamin p {
    cursor: pointer;
    color: #707070;
    font-size: 12px;
    font-family: "Open Sans", serif;
    margin-bottom: 45px;
}

form div {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}

form button {
    display: flex;
    align-items: center;
    background: #08A6E4;
    color: white;
    padding: 5% 25%;
    border: none;
    border-radius: 35px;
}

footer {
    width: 100%;
    height: 100px;
    margin-top: 3%;
    background: #F7F7F7;
    box-shadow: 0 -5px 40px #00000029;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    margin: 0 10%;
}

.foot a {
    padding: 0;
    font-size: 26px;
    font-weight: 300;
    text-decoration: none;
    color: #08A6E4;
    font-family: Raleway, serif;
}

footer p {
    margin-top: 3%;
    color: #A5A5A5;
    font-size: 11px;
    font-family: "Open Sans", serif;
}

.foot__icon {
    display: flex;
    justify-content: space-between;
    width: 65px;
}