$mobile: "screen and (max-width: 767px)";
$tablet: "screen and (min width: 768) and (max-width: 1023px)";
$desktop: "screen and (min width: 1024px)";

header {
  box-shadow: 0 3px 6px #00000029;
  position: fixed;
  width: 100%;
  top: 0;
}

.container {
  height: 4.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: #08A6E4;
    font-family: Raleway, serif;
    font-weight: lighter;
    font-size: 2rem;
    padding-top: 1rem;
  }

  ul {
    display: flex;
    margin-top: 1.5rem;

    a {
      color: #A5A5A5;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 1.3rem;
      margin: 0 1.5rem;
      font-size: 0.7rem;
      font-weight: bold;
      font-family: "Open Sans", serif;

      &:hover {
        color: #000000;
        padding-bottom: 1.8rem;
        border-bottom: 4px solid #08A6E4;
        opacity: 1;
      }
    }
  }
}