$color-main: #000000;
$color-light: #A5A5A5;
$background-color-lightgrey: #F7F7F7;
$background-color-white: #FFFFFF;
$background-color-primary: #07ACE6;
$background-color-red: #FB3B64;
$background-color-green: #55DFB4;
$background-color-pricing: #13253B;
$border-lightgrey: #E8E9ED;