.boxy {
  padding: 3rem 0;
  width: 100%;
  background: $background-color-lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  padding: 2rem;
  margin-top: 3rem;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  background: $background-color-white;
  border: 1px solid $border-lightgrey;
  border-radius: 5px;
  overflow: hidden;

  &:first-child {
    flex-direction: column-reverse;
    margin-top: 0.5rem;

    @include desktop {
      margin-top: 3rem;
      flex-direction: row;
    }
  }

  h2 {
    margin: 4rem 0 2rem 0;
    text-align: start;
    width: 20rem;

    @include desktop {
      margin-top: 2rem;
    }
  }

  @include desktop {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop {
    width: 40%;
  }

  &__border {

    @include desktop {
      margin: 4rem 0;
      width: 20rem;
    }
  }

  @include desktop {
    .border__red {
      border: 2px solid $background-color-red;
    }

    .border__blue {
      border: 2px solid $background-color-primary;
    }

    .border__green {
      border: 2px solid $background-color-green;
    }
  }
}

.box__macbook {
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 50%;
  }

  .macbook {
    margin-top: 1rem;
    position: absolute;
    width: 13rem;
    height: 7rem;
    z-index: 1;

    @include desktop {
      width: 24rem;
      height: 13rem;
    }
  }

  .matrix {
    position: relative;
    left: 4rem;
    bottom: 1.5rem;
    width: 6rem;
    height: 6rem;
    background: $background-color-red;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    z-index: 0;

    @include desktop {
      left: 6rem;
      bottom: 3rem;
      width: 11.2rem;
      height: 11.2rem;
    }
  }
}

.box__iPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include desktop {
    width: 50%;
  }

  &__circle {
    width: 8rem;
    height: 8rem;
    background: $background-color-primary;
    border-radius: 100%;
    z-index: 0;
    position: relative;
    right: 2rem;
    bottom: 1rem;

    @include desktop {
      width: 20rem;
      height: 20rem;
    }
  }

  .iPhone {
    width: 11rem;
    z-index: 1;
    position: absolute;

    @include desktop {
      width: 28rem;
    }
  }
}

.box:last-of-type {
  padding: 0;
  display: flex;
  flex-direction: column;
  background: $background-color-lightgrey;
  border: none;

  h2 {
    margin-top: 1rem;
    width: 24rem;
  }

  @include desktop {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .box__text {
    padding: 2rem;
    border: 1px solid $border-lightgrey;
    background: $background-color-white;
    border-radius: 5px;

    @include desktop {
      width: 60%;
      margin-right: 2.5rem;
      padding-bottom: 0;
    }
  }

  .box__image {
    background: $background-color-green;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    @include desktop {
      width: 35%;
      height: auto;
    }

    .trumpet {
      padding-top: 2rem;
    }
  }
}