.button {
  border: 0;
  border-radius: 40px;
  padding: 0.8rem 4rem;
  background: #07ACE6;
  color: white;
  transition: 0.5s;
  margin-top: 3rem;
  font-weight: bold;

  &__first {
    padding: 0.8rem 14rem;
  }

  &__red {
  background: #FB3B64;
  }

  &__green {
    background: #55DFB4;
  }

  &:hover {
    color: black;
    border-radius: 40px 10px 40px 10px;
  }

  &:active {
    background-color: darkblue;
    color: white;
  }
}