.button {
  border: 0;
  border-radius: 40px;
  padding: 0.8rem 4rem;
  background: $background-color-primary;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  font-family: $font-secondary;

  &__red {
    background: $background-color-red;
  }

  &__green {
    background: $background-color-green;
  }

  &:hover {
    @include desktop {
      color: black;
      border-radius: 40px 10px 40px 10px;
    }
  }

  &:active {
    background-color: darkblue;
    color: white;
  }
}