.end {
  margin-top: 7rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 1rem;

  @include desktop {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  h1 {
    margin-bottom: 1rem;

    @include desktop {
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;

  @include desktop {
    margin-top: 3rem;
    align-items: flex-start;
  }

  p {
    margin-bottom: 2rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: start;

    @include desktop {
      flex-direction: row;
    }

    a {
      margin-bottom: 1rem;
      color: #A5A5A5;
      text-decoration: none;

      img {
        margin-right: 1rem;
      }
    }

    .mail {
      width: 1.7rem;
      height: 1.7rem;
    }

    .phone {
      width: 1.7rem;
      height: 1.7rem;

      @include desktop {
        margin-left: 1.5rem;
      }
    }
  }
}

form {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include desktop {
    width: 50%;
  }

  .label {
    display: flex;
    flex-direction: column;

    span {
      color: $background-color-primary;
      font-size: 0.7rem;
      font-family: "Open Sans", serif;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input {
      margin-top: 0.6rem;
      margin-bottom: 1.9rem;
      border: none;
      border-bottom: 1px solid #95989A;
    }
  }

  .regulamin {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 1.9rem;

    .checkbox {
      display: none;
    }

    input + label {
      position: relative;
      cursor: pointer;
    }

    input + label::before {
      position: absolute;
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      background: $background-color-white;
      border: 1px solid #95989A;
      border-radius: 4px;
    }

    input:checked + label:before {
      background-image: url("../../images/Checkmark.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    p {
      cursor: pointer;
      color: #707070;
      font-size: 0.8rem;
      padding-left: 3rem;
    }
  }

  div {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

    .button {
      margin: 3rem 0;
      padding: 1rem 6rem;
    }
  }
}